#footer {
  text-align: center !important;
  padding: 8px !important;
  position: absolute !important;
  left: 0 !important;
  bottom: 0 !important;
  display: block !important;
  width: 100% !important;
}

.container {
  max-height: calc(88vh - 20px);
  overflow-y: auto;
  overflow-x: hidden;
}

#image-card-container {
  max-height: 400px;
  margin: 10px 0px;
}

#img-all {
  width: 200px;
  height: 250px;
}
